:root{
    --main-dark-theme: #212529;
    --alt-dark-theme : #2f353a;
}
body{
    background-color: var(--alt-dark-theme);
    color:white;
    text-align: justify;
}
p{
    text-align: center;
}
table{
    margin-top:75px;
    margin-left: auto;
    margin-right: auto;
}
td{
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: white 2px solid;
    max-width : 40vw
}
a{
    color:white;
    font-size: 17px;
}
#content{
    padding-top: 25px;
}
.title{
    text-align: center;
    padding-bottom: 10px;
}
.l, .r{
    width:50vw;
}
.l{
    text-align: right;
    padding-right: 20px;
}
.r{
    padding-left: 20px;
    border-left: white solid 1px;
    padding-right: 20px;
}
