:root{
    --main-dark-theme: #212529;
    --alt-dark-theme : #2f353a;
}
body{
    background-color: var(--alt-dark-theme);
    color:white;
    text-align: justify;
}
p{
    text-align: center;
}
table{
    margin-top:75px;
    margin-left: auto;
    margin-right: auto;
}
td{
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: white 2px solid;
    max-width: 300px;
}
a{
    color:white
}
a:hover{
    color:rgb(214, 208, 208);
}
#content{
    padding-top: 25px;
}
.title{
    text-align: center;
    padding-bottom: 10px;
}
.l, .r{
    width:50vw;
}
.l{
    text-align: right;
    padding-right: 20px;
}
.r{
    padding-left: 20px;
    border-left: white solid 1px;
    padding-right: 20px;
}
.footer{
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 100px;
    border-top: 2px solid white;
    /* position: absolute;
    bottom: 0;
    left:0;
    right:0 */
}