:root {
    --main-dark-theme: #212529;
    --alt-dark-theme: #2f353a;
}

body {
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    overflow: hidden;
    height:100vh;
}

.spine-player-button-icon-settings {
    display: none
}

#player-container {
    margin-left: 15vw;
    max-width: 100vw;
     
}

.spine-player-canvas {
    margin-top: 7%;
    margin-left: 15%;
    height: 95%
}

.spine-player-controls {
    position: fixed;
    bottom: 0;
}

#visualiserTop {
    background-color: var(--main-dark-theme);
    border-left: 2px white dashed;
    border-top-right-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    position: fixed;
    height: 60px;
    width: 205px;
    left: 20px;
    top: 4vh;
}

#visualiserMain {
    background-color: var(--main-dark-theme);
    border-bottom-right-radius: 10px;
    border-left: 2px white dashed;
    border-top-right-radius: 10px;
    margin-left: 20px;
    padding-top:10px;
    position: fixed;
    overflow: auto;
    height: 76vh;
    bottom: 7vh;
    width:200px;
    z-index: 1;
    left: 0;
}

#background-div {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.charDiv {
    border: var(--main-dark-theme) 2px solid;
    border-bottom: gold 2px solid;
    margin: 0 5px 10px 5px;
    list-style-type: none;
    border-radius: 10px;
    user-select: none;
    transition: 0.5s;
    display: flex;
}
.charDiv span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.charDiv:hover {
    background-color: var(--alt-dark-theme);
    border: gold 2px solid;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.charDiv img {
    border-radius: 10px;
    height: 50px;
    margin-right:10px
}

#l2dbgcolorchanger{
    text-align: right;
    position: fixed;
    margin-top: 10vh;
    right:0;
}

#colorChangePanel{
    border: 1px solid var(--alt-dark-theme);
    box-shadow: 2px 2px 3px black;
    background-color: white ;
    padding-bottom: 20px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    color:black;
    width: 250px;
    right: 20px;
    z-index: 1;
    top: 12vh;
}
.progress-rgb{
    background-color: #2f353a;
    margin-left: 10%;
    width: 80%;
}
.range-red,
.range-green,
.range-blue,
#inputhex{
    width: 80%;
}
#inputhex{
    text-align: center;
}


#nikketxtgrid{
    position: relative;
    text-align: center;
    display: grid;
    color:white;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    font-size: 5vw;
    z-index: -1;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txtgridtl,
.txtgridtr,
.txtgridmm,
.txtgridbl,
.txtgridbr{
    transform: rotate(-25deg);
}
.txtgridbl,
.txtgridbr{
    grid-row:7
}
.txtgridmm{
    grid-row:4
}
.txtgridtl,
.txtgridbl{
    grid-column: 1;
}
.txtgridmm{
    grid-column: 2;
}
.txtgridtr,
.txtgridbr{
    grid-column: 3;
}

.posedropdown{
padding-left:10px;
box-shadow: -1px 1px 1px black;
}
.posedropdown span:hover{
    cursor: pointer;
}
#mobile_message h1{
    text-align: center;
}
#mobile_message p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
}
#mobile_message img{
    width:100vw;
}

#mobile_message a{
    font-weight: bold;
    color:white;
    padding-left: 10px;
}
.wrapperindex{
    z-index: 1;
    position: relative;
}

.btn_feature{
    color: white;
    border: none;
    background-color: transparent;
    margin-top: 5vh;
    margin-right: 20px;
    /* box-shadow: 2px 2px 2px black; */
    height: 50px;
    width:50px;
    background-color: var(--alt-dark-theme);
    border-radius: 50%;
    z-index: 0;
}
.btn_feature:hover{
    background-color: var(--main-dark-theme);
}